# large data / binaries
SlotFormer-master/data/
SlotFormer-master/pretrained/
tools/
CLAUDE.md
# generated outputs


# large file types
*.zip
*.tar.xz
*.pth
*.mp4
*.npy
*.blend
*.exr
*.png
.*
S[1-8]
*.json
*.npz
!/.gitignore
tars
# python cache
__pycache__/
*.pyc
# local
.conda/
.env
