# large data / binaries
SlotFormer-master/data/
SlotFormer-master/pretrained/
blender-3.0.1-linux-x64/

# generated outputs

# large file types
*.zip
*.tar.xz
*.pth
*.mp4
*.npy
*.blend
*.exr

# python cache
__pycache__/
*.pyc

# local
.conda/
.env
